'''
Context:
You are working with a Java project called `{{ project_name }}`, which includes a class called `{{ class_name }}` and a method named `{{ method_name }}`. 
This method details: `{{ method_details }}`.
Description:
You are tasked with generating a test oracle for a JUnit test case. The test case is written to test the functionality of the `{{ class_name }}` class's `{{ method_name }}` method.
In the following the test case, replace the `{{ assertion_placeholder }}` with one or more appropriate assertions:
```
{{ test_method_code }}
```
Just write the assertion statement that will replace the placeholder.
NO EXPLANATIONS NEEDED.
'''