'''
### Instruction:
You are working with a Java project which includes a class called `{{ class_name }}` and a method named `{{ method_name }}`. 
This method details: `{{ method_details }}`. You are tasked with generating a test oracle for a JUnit test case which is written to test the functionality of the method.

### Prompt:
In the following the test case, replace the `{{ assertion_placeholder }}` with one or more appropriate assertions:
```
{{ test_method_code }}
```
Write the assertion statement using assertion_pattern = r'(\w+\.)?(assert|assertTrue|assertNull|fail|assertFalse|assertNotEquals|assertEquals|assertArrayEquals|assertNotNull|assertNotSame|assertSame|assertThat)\s*\(.+?\);'.
### Response:
'''