'''
### Instruction:
You are working with a Java project which includes a class called `{{ class_name }}` and a method `{{ method_name }}`.
Method details: `{{ method_details }}`.
You are tasked with generating a test oracle for a JUnit test case based on the above information of the method to test its functionality .
### Prompt:
In the following the test case, replace the `{{ assertion_placeholder }}` with one or more appropriate assertions:
```
{{ test_method_code }}
```
Write the assertion statement using python assertion pattern r'(\w+\.)?(assert|assertTrue|assertNull|fail|assertFalse|assertNotEquals|assertEquals|assertArrayEquals|assertNotNull|assertNotSame|assertSame|assertThat)\s*\(.+?\);'.
### Response:
'''